[Desktop Entry]
Encoding=UTF-8
Name=Time Keeper
Comment=It provides a clock and calendar functions via a steampunk interface.

Icon=applications-system
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Joker
X-KDE-PluginInfo-Email=nice.way@live.com
X-KDE-PluginInfo-Website=https://github.com/Joker/timekeeper
X-KDE-PluginInfo-Version=0.6
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=org.kde.plasma.timekeeper

X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=450,450
X-Plasma-StandAloneApp=true
X-Plasma-MainScript=ui/main.qml

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
